
@{ ViewData["Title"] = "Submit Confirmation"; }

@model RestaurantAssignment4.Models.Restaurants

<div>
    <h2>
        Thanks for the suggestion!
    </h2>

</div>
<div>Click <a asp-action="RestaurantSubmitList">here</a> to see the list of restaurants you've entered!</div>
